@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="main_content container"><!-- main_content -->
    <div class="main_page about_me"><!-- main_page --><!-- about_me -->

        <div class="post_header"><!-- post_header -->
            <h1>About Me</h1>
            <span class="title_divider"></span>
        </div><!-- // post_header -->

        <div class="about_pic"><!-- about_pic -->
            <img src="http://ashmawi.work/html/kepler/img/demo/about.png" alt="Ashmawi Sami" class="hz_appear">
        </div><!-- // about_pic -->

        <div class="about_content"><!-- about_content -->
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. </p>
        </div><!-- // about_content -->

        <div class="inform_about row"><!-- inform_about -->
            <div class="col-md-4">
                <div class="about_widget personal_info"><!-- personal_info -->
                    <h3 class="about-title">Personal Info</h3>
                    <p><label class="about-title-cat">Name</label> : Ashmawi Sami</p>
                    <p><label class="about-title-cat">Date of Birth</label> : June 4, 1989</p>
                    <p><label class="about-title-cat">Gender</label> : Male</p>
                    <p><label class="about-title-cat">Lives In</label> : Ismailia</p>
                    <p><label class="about-title-cat">Mobile</label> : 0123 456 789</p>
                    <p><label class="about-title-cat">Email</label> : hamzhmail@gmail.com</p>
                    <p><label class="about-title-cat">Website</label> : http://hamzh.info</p>
                </div><!-- // personal_info -->
            </div>

            <div class="col-md-4">
                <div class="about_widget professional_experiences"><!-- professional_experiences -->
                    <h3 class="about-title">Professional Experiences</h3>
                    <div class="single-experience">
                        <h4>Senior Web Developer, IT Ltd.</h4>
                        <p class="ex-date">July 2011 - Nov 2013</p>
                        <p>Veniam doner turducken pariatur, enim ham hock bresaola short loin beef ribs bacon.</p>
                    </div>
                    <div class="single-experience">
                        <h4>Senior Web Developer, IT Ltd.</h4>
                        <p class="ex-date">July 2011 - Nov 2013</p>
                        <p>Veniam doner turducken pariatur, enim ham hock bresaola short loin beef ribs bacon.</p>
                    </div>
                </div><!-- // professional_experiences -->
            </div>

            <div class="col-md-4">
                <div class="about_widget my_skills"><!-- my_skills -->
                    <h3 class="about-title">My Skills</h3>
                    <div class="skillbar clearfix " data-percent="95%">
                        <div class="skillbar-title azure"><span>Web Designer</span></div>
                        <div class="skillbar-bar azure progress-section" data-progress="95%" style="width: 95%;"></div>
                        <div class="skill-bar-percent">95%</div>
                    </div>
                    <div class="skillbar clearfix " data-percent="80%">
                        <div class="skillbar-title emerald"><span>Graphic Designer</span></div>
                        <div class="skillbar-bar emerald progress-section" data-progress="80%" style="width: 80%;"></div>
                        <div class="skill-bar-percent">80%</div>
                    </div>
                    <div class="skillbar clearfix " data-percent="85%">
                        <div class="skillbar-title violet"><span>HTML</span></div>
                        <div class="skillbar-bar violet progress-section" data-progress="85%" style="width: 85%;"></div>
                        <div class="skill-bar-percent">85%</div>
                    </div>
                    <div class="skillbar clearfix " data-percent="78%">
                        <div class="skillbar-title yellow"><span>Wordpress</span></div>
                        <div class="skillbar-bar yellow progress-section" data-progress="78%" style="width: 78%;"></div>
                        <div class="skill-bar-percent">78%</div>
                    </div>
                    <div class="skillbar clearfix " data-percent="92%">
                        <div class="skillbar-title red"><span>PHP</span></div>
                        <div class="skillbar-bar red progress-section" data-progress="92%" style="width: 92%;"></div>
                        <div class="skill-bar-percent">92%</div>
                    </div>
                </div><!-- // my_skills -->
            </div>
        </div><!-- // inform_about -->

    </div><!-- // main_page --><!-- // about_me -->
</div>
